input {
            width: 98%;
            display: block;
            height:30px;
        }
        
        input:focus {
            border-color: yellow;
        }

        .centerBox {
            border-radius: 10px;
            margin: auto;
            width: 50%;
            border: 3px solid green;
            padding: 10px;
        }

        .textLeftAlign {
            text-align:left;
        }

        .btn {
            border-radius: 5px;
            cursor: pointer;
        }

        .btn-warning,
        .btn-warning:active {
            background-color: #ffe161 !important;
            border-color: #ffe161 !important;
            color: #614f00 !important;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        }

            .btn-warning:hover,
            .btn-warning:focus,
            .btn-warning.focus,
            .btn-warning.active {
                color: #0a0800 !important;
                background-color: #ffd10a !important;
                border-color: #ffd10a !important;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
            }

        .displayText {
            padding: 5px 5px 5px 5px;
            font-family: Bahnschrift;
            font-size: 1.3em;
            line-height: 1.2;
        }

        .headerDiv {
            background-color: lightblue;
            height: 50px;
        }

        .rightAlign {
            padding-top: 10px;
            padding-right: 10px;
            display: inline-block;
            float: right;
        }

        .paddingMed {
            padding: 10px;
        }

        body {
            margin: 0;
            font-family: 'Segoe UI';
        }

        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

        h2 {
            text-align:center;
        }

        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

        .tab button:hover {
            background-color: #ddd;
        }

        .tab button.active {
            background-color: #ccc;
        }

        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
            text-align:center;
        }